/*flexbox*/
body {
  background-color: #0a0f0f;
  flex-direction: column;
  font-family: 'Fira Mono', monospace;
  line-height: 1.5em;
  font-size: 125%;
  color: slategray;
  /* text-decoration: slategray; */
}

.gridRow {
  display: flex;
  flex-wrap: wrap;
}

.gridCard {
  background-color: #333333;
  border-radius: 0.25em;
  padding: 1em;
}

/*
h1 {}

p {}

a {}
*/
