body {
  background-color: #0a0f0f;
  flex-direction: column;
  font-family: 'Fira Mono', monospace;
  line-height: 1.5em;
  font-size: 125%;
  color: slategray;
}

h1 {
  color: #e06c75;
}

h2 {
  color: #61afef;
}

h3 {
  color: #56b6c2;
}

h4 {
  color: #c678dd;
}

/*#e5c07b orange*/
/*#98c379 yellow*/

.flexRow {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
}

.card {
  background-color: #141414;
  border-radius: 0.25em;
  padding: 1em;
  text-align: center;
}

/*
p {}

a {}
*/
